# Ignore everything by default
*

# Allow the repack loader script
!REPACK/
!REPACK/LUA_MODDED/
!REPACK/LUA_MODDED/BRPlayerCharacterBase.lua

# Allow server files and shell scripts
!server.js
!protected_script.lua
!start_server.sh
!start_all.sh
!start_ngrok.sh
!.gitignore

# Allow CORE-PAYLOAD-SERVER files
!CORE-PAYLOAD-SERVER/
!CORE-PAYLOAD-SERVER/protected_payload.lua
!CORE-PAYLOAD-SERVER/server.js
!CORE-PAYLOAD-SERVER/package.json
